[submodule "extern/bash-utils"]
	path = extern/bash-utils
	url = https://github.com/kpierczy/bash-utils
[submodule "extern/ros/sick_scan_xd"]
	path = extern/ros/sick_scan_xd
	url = https://github.com/SICKAG/sick_scan_xd
[submodule "extern/ros/ethercat-lib"]
	path = extern/ros/ethercat-lib
	url = https://github.com/kpierczy/ethercat-lib
[submodule "extern/ros/ros-common"]
	path = extern/ros/ros-common
	url = https://github.com/kpierczy/ros-common
[submodule "extern/ros/scan-tools"]
	path = extern/ros/scan-tools
	url = https://github.com/kpierczy/scan-tools
[submodule "extern/ros/gazebo_world_p109"]
	path = extern/ros/gazebo_world_p109
	url = https://github.com/Dangield/gazebo_world_p109
[submodule "extern/ros/realsense-ros"]
	path = extern/ros/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros
[submodule "extern/ros/gazebo_ros_pkgs"]
	path = extern/ros/gazebo_ros_pkgs
	url = https://github.com/Dangield/gazebo_ros_pkgs
	branch = ros2
