<?xml version="1.0"?>
<model>

	<name>kinect</name>
	<version>1.0.0</version>
	<sdf version="1.5">model.sdf</sdf>

	<author>
		<name>Nate Koenig</name>
		<email>nate@osrfoundation.org</email>
	</author>

    <maintainer>
		<name>Krzysztof Pierczyk</name>
		<email>krzysztof.pierczyk@gmail.com</email>
	</maintainer>

	<description>
	    SDF model of the Kinect sensor
	</description>

</model>